* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2,61,163);
    font-family: Noto Sans;
    color: whitesmoke;
    
}

#welcome {
    font-size: 6vw;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-img {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play {
    padding: 2vw 12vw 2vw 12vw;
    margin-top: 5vw;
}

#play {
    padding: 2vw 12vw 2vw 12vw;
    font-weight: 800;
    border-radius: 10px;
    font-size: x-large;
    color: rgb(2,61,163);
    cursor: pointer;
    
}

#play:hover{
background-color: rgb(243,214,106);
}

#site-info{
margin-bottom: auto;
text-align: center;
margin-top: 7vw;


}

/** Round 1 **/



.main-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 6vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.player-turn {
    font-size: 3vw;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.table-resize {
    width: 80%;
    height: 40vw;
    border: 3px solid black;
}

table, th, td {
    border: 3px solid black;
}

table {
    text-align: center;
}

th {
    padding: 1vw;
    font-weight: 900;
    font-size: xx-large;
    text-transform: uppercase;

}

td {
    font-weight: 900;
    font-size: 5vw;
    color: rgb(243,214,106);
    cursor: pointer;
}

.user-input1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

#input {
    padding: 2vw 5vw 2vw 5vw;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    color: rgb(2,61,163);
    font-size: larger;
    font-weight: 800
}

#options {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 2em;
}

.options {
    padding: 1em 4em 1em 4em;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    
}

.options:hover{
background-color:rgb(243,214,106) ;

}

#score {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3em;
    
}

.score {
    font-weight: 800;
    font-size: 2vw
}

#next-round {
    display: flex;
    justify-content: flex-end;
    padding-right: 12vw;
    
}

.next-round {
    padding: 3em 3em 3em 3em;
    border-radius: 10px;
    cursor: pointer;
    ;
}

.next-round:hover {
    background-color: rgb(243,214,106);
}

/** Final-Round */

#final-category {
    display: flex;
    justify-content: center;
    margin-top: 4vw ;
}

.final-category {
    border: solid 3px black;
    padding: .5vw 15vw .5vw 15vw;
    font-size: 50px;
}

#final-question {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.final-question {
    border: solid 3px black;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 21.1vw;
    margin-right: 21.1vw;
    padding: 5vw 8vw 5vw 8vw;
}

#answer-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vw;
    gap: 1em;
    }
    
.answer-final{
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 10px;
    font-size: x-large;
    }

#bet {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.bet{
    padding: 2vw 4vw 2vw 4vw;
    border-radius: 10px;
    cursor: pointer;
}

.bet:hover {
    background-color: rgb(243,214,106);
}
